.nav {
  display: flex;
  flex-direction: row;
  margin-top: 32px;
  justify-content: center;
  align-items: center;
  gap: 40px
}

.start-link {
  padding: 4px 16px;
  border: 1px solid;
  border-radius: 8px;
  background-color: rgb(231, 156, 154);
  transition: 250ms ease-in;
  transition-property: background-color border-color color;
}

.start-link:hover {
  background-color: rgb(153, 60, 65);
  border-color: rgb(153, 60, 65);
  color: honeydew;
}